@require './override'

.navbar,
.navbar .links
  background-color $altBackgroundColor

#logo
  background-color $accentColor
  width 22rem
  height 17rem
  border-radius 3rem

.logo-container
  text-align center
